#floating-picker-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    position: absolute;
    top: 5%;
    left: 93%;
    transform: translate(-93%, -5%);
}

#floating-picker-container select {
    appearance: none;
    font-size: 1.3rem;
    font-weight: 500;
    color: #b252a1;
    padding: 0.2rem;
    border: 2px solid #66a1d2;
    border-radius: 0.25rem;
    background-color: #181d2d;
}

#floating-picker-container select:hover {
    border-color: #ba80ad;
}

#floating-picker-container select option {
    font-weight: normal;
    font-size: 0.9rem;
}

#floating-picker-container label {
    font-size: 0.9rem;
    color: #b252a1;
}