<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:fragment="head(title,scripts,links)">
    <meta charset="UTF-8">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <title th:replace="${title}">Title</title>

    <th:block th:replace="fragments/header :: link"/>

    <!--Let browser know website is optimized for mobile-->
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <link media="screen,projection" rel="stylesheet" th:href="@{/css/boilerplate.css}" type="text/css">

    <th:block th:replace="${links}"/>
    <th:block th:replace="${scripts}"/>
</head>
<body th:fragment="body(content)">

<header th:replace="fragments/header :: header"></header>

<main th:replace="${content}"></main>
</body>
</html>
