<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<body>
<div id="floating-picker-container" th:fragment="container">
    <label for="floating-picker" th:text="#{app.lang-picker.label}"></label>
    <select id="floating-picker">
        <option th:selected="${#locale.toString() eq 'sr'}" th:text="#{app.lang-picker.sr}"
                value="sr"></option>
        <option th:selected="${#locale.toString() eq 'en'}" th:text="#{app.lang-picker.en}"
                value="en"></option>
    </select>
    <script>
        const floatingPickerChange = (e) => {
            e.preventDefault()
            let url = new URL(window.location.href)
            url.searchParams.set('lang', e.target.value)
            window.location.href = url
        }
        document.querySelector('#floating-picker').addEventListener('change',
            floatingPickerChange)

    </script>
</div>
</body>
</html>
