<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/extras/spring-security" xmlns:th="https://www.thymeleaf.org">
<head>
    <link media="screen,projection" rel="stylesheet" th:href="@{/css/header.css}" type="text/css">
</head>
<body>
<header>

    <div class="logo" style="cursor: pointer;">
        <span>Book</span>
        <span>Hub</span>
        <script>
            document.querySelector('.logo').addEventListener('click', () => window.location.href = '/')
        </script>
    </div>
    <form id="logoutForm" method="post" sec:authorize="isAuthenticated()"
          th:action="@{/logout}"></form>
    <nav>
        <ul id="nav-items">
            <li sec:authorize="not isAuthenticated()">
                <a href="/login" th:text="#{app.header.login}"></a>
            </li>
            <li sec:authorize="not isAuthenticated()">
                <a href="/register" th:text="#{app.header.register}"></a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a th:onclick="|document.querySelector('#logoutForm').submit();|"
                   th:style="'cursor : pointer;'" th:text="#{app.header.logout}">
                </a>
            </li>
            <li sec:authorize="isAuthenticated()"><a href="/profile" th:text="#{app.profile.label}"></a></li>
            <li sec:authorize="hasAuthority('ADMIN')">
                <a href="/admin-panel" th:text="#{app.title.adminpanel}"></a>
            </li>
            <li sec:authorize="hasAuthority('USER')">
                <a href="/cart" th:text="#{app.cart.title}"></a>
            </li>
        </ul>
    </nav>
    <div th:replace="fragments/floating-lang :: container"></div>

</header>
</body>
</html>
