body {
    background-color: #222831;
}

main {
    background-color: #393e46;
}

header {
    background-color: #393e46;
}

#nav-items li a {
    color: #eeeeee;
}

#nav-items li a:hover {
    color: #ffd369;
}

.logo {
    color: #eeeeee;
}

.logo span:nth-child(2) {
    background-color: #ffd369;
}

#floating-picker-container select {
    background: #222831;
    color: #ffd369;
}

#floating-picker-container label {
    color: #bfa867;
}

.container {
    display: flex;
    justify-content: center;
}

.navigation {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.navigation h2 {
    font-weight: 700;
    font-size: 1.65rem;
}

.navigation h3 {
    text-decoration: underline;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}

.main-ul {
    flex-flow: column wrap;
    align-items: center;
}

.btn {
    background-color: #ffd369;
    padding: 0.6rem;
    border: 0;
    border-radius: 0.2rem;
    font-size: 1.2rem;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    cursor: pointer;
}

.btn a {
    color: #222831;
    text-decoration: none;
}

.btn a:hover {
    color: #393e46;
}

button {
    background-color: #ffd369;
    color: #393e46;
    padding: 0.5vh 0.5vh;
    font-size: 1.5rem;
    font-weight: 1000;
    border-radius: 0.6rem;
    border: 0;
}

.td-flex-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.td-flex-row button {
    padding: 0;
}

.td-flex-row button:before {
    content: "\00a0\00a0\00a0";
}

.td-flex-row button:after {
    content: "\00a0\00a0\00a0";
}

.green {
    color: darkgreen;
}

.red {
    color: darkred;
}

.cur-p {
    cursor: pointer;
}

.border-row {
    border: 1px solid #ffd369;
    margin: 0.1rem;
    padding: 0.3rem;
    border-radius: 0.25rem;
}

input {
    background-color: #222831;
    color: #ffd369;
    border-radius: 0.2rem;
    border: 0;
    font-size: 1.1rem;
    margin: 0.2rem;
    padding: 0.2rem;
}

form button {
    margin-bottom: 1rem;
}

label {
    color: #ffd369;
    font-size: 1.1rem;
    margin: 0.2rem;
    padding: 0.2rem;
}

tbody tr td {
    color: #eeeeee;
}

tbody tr td a {
    color: #eeeeee;
    cursor: pointer;
}

tbody tr td a:hover {
    color: #ffd369;
}

.tr-flex {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    margin: 1rem 1rem 1rem 1rem;
    background-color: #393e46;
    border-radius: 0.4rem;
}

.tr-flex td {
    width: 80%;
    color: #eeeeee;
    font-size: 1.9rem;
}

.tr-flex td p {
    color: #ffd369;
    font-size: 1.2rem;
}

.tr-flex td div {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-evenly;
}

.tr-button {
    flex: 40%;
    margin: 0.6rem;
}

.column-flex {
    flex-flow: column wrap;
    align-items: center;
}

@keyframes failure {
    0% {
        color: red;
        transform: translateY(-100%) translateX(-20%) scale(10.0) rotateY(125deg);
    }
    100% {
        color: white;
        transform: translateY(0%) translateX(0%) scale(1.0) rotateY(0deg);
    }
}

.error-book-not-found {
    animation: 350ms ease-in 0s 1 failure;
}