.errors {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: #222831;
    padding: 0.25rem;
    border-radius: 0.5rem;
    margin-bottom: 2.9rem;
}

.errors h1 {
    color: #7f3131;
    margin-bottom: 0.35rem;
}

.errors h1:last-child {
    margin-bottom: 0;
}

table {
    width: 100%;
    background-color: #222831;
    margin-bottom: 2.5rem;
    border-radius: 0.5rem;
}

thead tr, tbody tr, tfoot tr {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

thead tr th {
    color: #ffd369;
}

thead tr td {
    color: #eeeeee;
}

tbody tr td, thead tr th, tfoot tr td {
    flex: 1;
    text-align: center;
}

form {
    margin: 1rem auto 0 auto;
    width: 70%;
    display: flex;
    flex-flow: column wrap;
}

.form-input {
    margin-top: 0.4rem;
    border-radius: 0.5rem;
    padding: 0.75rem;
    display: flex;
    flex-flow: column wrap;
    background-color: #222831;
}

label {
    color: #eeeeee;
}

.form-input input, .form-input select {
    background-color: #393e46;
    border-radius: 0.2rem;
    border: 0;
    font-size: 1.2rem;
    padding: 0.2rem;
    color: #eeeeee;
}

form button {
    margin-top: 1.5rem;
}

.td-currency-rsd::after {
    content: ' RSD';
}

.total-row {
    color: #ffd369;
}