* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #292929;
    color: white;
}

main {
    border-radius: 0.25rem;
    width: 95%;
    margin: 2.5rem auto 0 auto;
    background-color: #101010;
    height: 90%;
    padding: 0.30rem;
}
