body {
    background-color: #374045;
}

main {
    background-color: #2c061f;
}

header {
    background-color: #2c061f;
}

#nav-items li a {
    color: #e1d89f;
}

#nav-items li a:hover {
    color: #d89216;
}

.logo {
    color: #e1d89f;
}

.logo span:nth-child(2) {
    background-color: #d89216;
}

#floating-picker-container select {
    background: #222831;
    color: #2c061f;
}

#floating-picker-container label {
    color: #79755d;
}

main div > h1 {
    color: #d89216;
}

.form-group {
    background-color: #374045;
}

.form-group label {
    color: #d89216;
}

.form-group input, .form-group textarea,
.form-group select, .form-group fieldset {
    background-color: #2c061f;
    color: #d89216;
}

.form-group button {
    background-color: #d89216;
    color: #2c061f;
}

.form-group fieldset legend {
    color: #e1d89f;
}

.success-href {
    color: #d89216;
}

.update {
    color: #d89216;
}