body {
    background-color: #2b0c0c;
}

main {
    background-color: #541717;
}

header {
    background-color: #541717;
}

#nav-items li a {
    color: #418cbe;
}

#nav-items li a:hover {
    color: #6fa7cd;
}

.logo {
    color: #418cbe;
}

.logo span:nth-child(2) {
    background-color: #252a8f;
}

#floating-picker-container select {
    background: #2b0c0c;
    color: #418cbe;
}

.book-info {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 1.0vw;
}

.book-image {
    width: 40vw;
    border-radius: 0.5rem;
    animation: rotate-image 10s infinite ease-in;
    box-shadow: 6px 4px #181818;
}

@keyframes rotate-image {
    0% {
        transform: rotateY(0deg) rotateX(0deg);
    }
    100% {
        transform: rotateY(360deg) rotateX(360deg);
    }
}

main h2 {
    font-size: 2.5vw;
    margin: 0.5vh 0;
    color: #418cbe;
}

.buttons-div {
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.buttons-div button {
    flex: 1;
    margin: 0.5vw;
    color: #101010;
    background-color: #252a8f;
    border: 0;
    font-size: 2vw;
    font-weight: 800;
    padding: 0.5vw;
    border-radius: 0.2vw;
    text-wrap: none;
    cursor: pointer;
}

.buttons-div button a {
    color: inherit;
    text-decoration: none;
}

.comment-title {
    margin-top: 2vh;
    color: #b252a1;
    flex: 1;
    align-self: center;
}

.comments {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.comment {
    border-radius: 0.5vh;
    margin: 1vw;
    background-color: #2b0c0c;
    color: #418cbe;
    flex: 100%;
}

.comment-header {
    border-top-left-radius: 0.5vh;
    border-top-right-radius: 0.5vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: #252a8f;
    color: black;
    font-weight: 600;
    margin-bottom: 0.3vh;
}

.comment-header-item {
    margin: 0 0.5vh;
}

.comment-text {
    font-size: 1.7vw;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 1vh;
    margin-bottom: 0.3vh;
}

span[class*='-label'] {
    color: #418cbe;
    animation: color-change 2s infinite;
    animation-direction: alternate;
}

span[class*='-label']::after {
    color: #418cbe;
    content: ":";
}

@keyframes color-change {
    0% {
        color: #418cbe
    }
    100% {
        color: black
    }
}

.book-desc {
    font-size: 1.3vw;
    color: #b252a1;
}

@media only screen and (min-width: 1400px) {
    .book-image {
        width: 20vw;
    }

    main h2 {
        font-size: 0.9vw;
    }

    .buttons-div button {
        font-size: 0.9vw;
    }

    .comment-text {
        font-size: 0.9vw;
    }

    .comment-header {
        font-size: 0.8vw;
    }

    .comment-header {
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    .comment {
        flex: 1 0 40%;
    }

    .book-desc {
        font-size: 0.8vw;
    }
}

.comment-input {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.comment-input label {
    color: #b252a1;
    margin-bottom: 0.15rem;
}

.comment-input button, select {
    width: 30%;
    background-color: #2b0c0c;
    border-radius: 0.2rem;
    border: 0;
    font-size: 1.2rem;
    color: #418cbe;
}

.comment-input textarea {
    width: 40%;
    background-color: #2b0c0c;
    border: 0;
    border-radius: 0.2rem;
    color: #418cbe;
    padding: 0.4rem;
}

.comment-input button {
    margin-top: 1rem;
}

.comment-input button:disabled {
    color: #5a5a89;
}
