body {
    background-color: #222831;
}

main {
    background-color: #30475E;
}

header {
    background-color: #30475E;
}

#nav-items li a {
    color: #F05454;
}

#nav-items li a:hover {
    color: #DDDDDD;
}

.logo {
    color: #DDDDDD;
}

.logo span:nth-child(2) {
    background-color: #F05454;
}

#floating-picker-container select {
    background: #222831;
    color: #F05454;
}

#floating-picker-container label {
    color: #853030;
}

form {
    display: flex;
    flex-flow: column;
    align-items: center;
}

main div > h1 {
    text-align: center;
    color: #DDDDDD;
    font-size: 2.5vw;
}

@keyframes success {
    0% {
        color: green;
        transform: translateY(-100%);
    }
    100% {
        color: #DDDDDD;
        transform: translateY(0%);
    }
}

@keyframes failure {
    0% {
        color: red;
        transform: translateY(-100%) translateX(-20%) scale(10.0) rotateY(125deg);
    }
    100% {
        color: white;
        transform: translateY(0%) translateX(0%) scale(1.0) rotateY(0deg);
    }
}

.update {
    position: relative;
    text-align: center;
}

.update-success {
    animation: 2000ms cubic-bezier(0.2, 4.0, 0.8, -1.5) 0s 1 success;
}

.update-failure {
    animation: 2000ms cubic-bezier(0.2, 4.0, 0.8, -1.5) 0s 1 failure;
}

.update-success-fast {
    animation: 750ms cubic-bezier(0.2, 4.0, 0.8, -1.5) 0s 1 success;
}

.update-failure-fast {
    animation: 750ms cubic-bezier(0.2, 4.0, 0.8, -1.5) 0s 1 failure;
}

.form-group {
    width: 60%;
    display: flex;
    flex-flow: column wrap;
    background-color: #222831;
    margin: 0.5vw;
    padding: 1.2vh;
    border-radius: 0.6rem;
}

.form-group label {
    color: #F05454;
    align-self: center;
    margin-bottom: 0.5vh;
}

.form-group input, .form-group textarea,
.form-group select, .form-group fieldset {
    background-color: #30475E;
    color: #DDDDDD;
    padding: 0.5vh 0.5vh;
    font-size: 2.5vw;
    border-radius: 0.6rem;
    border: 0;
}

.form-group input:not[type=checkbox], .form-group textarea {
    flex: 1 1 10%;
    width: 100%;
}

.form-group input[type=file] {
    font-size: initial;
}

.form-group button {
    background-color: #F05454;
    color: #DDDDDD;
    padding: 0.5vh 0.5vh;
    font-size: 1.5vw;
    font-weight: 1000;
    border-radius: 0.6rem;
    border: 0;
}

.form-group fieldset {
    overflow: auto;
    height: 250px;
}

.form-group fieldset legend {
    font-weight: 700;
    font-size: 1.6vw;
    color: #DDDDDD;
}

.checkbox-item {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: flex-end;
}

.checkbox-item label {
    margin: 0 0.9rem 0 0.5rem;
}

.form-buttons {
    flex-flow: row wrap !important;
    justify-content: space-between;
}

#order-button {
    background-color: #252a8f;
    color: black;
}

.modal-content {
    background-color: #30475E;
}

.modal-content input,
.modal-content button {
    width: 100%;
    margin-top: 0.4rem;
    background-color: #222831;
    color: #DDDDDD;
    border-radius: 0.5rem;
    border: 0;
    font-size: 2rem;
    padding: 0.3rem;
}

.modal-content label {
    color: #F05454;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.modal-content form {
    margin: 0 auto 0 auto;
    width: 70%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#close:hover,
#close:focus {
    color: #F05454;
}

@media only screen and (min-width: 1400px) {
    .form-group input, .form-group textarea,
    .form-group select, .form-group fieldset {
        font-size: 0.8vw;
    }

    .form-group button {
        font-size: 0.9vw;
    }

    .form-group fieldset legend {
        font-size: 0.9vw;
    }

    main div > h1 {
        font-size: 1.2vw;
    }
}
