.purchase-books {
    margin: 1.2rem auto 0 auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 30%;
}

.purchase-books button, .purchase-books input {
    border-radius: 0.4rem;
    width: 100%;
    flex: 1;
    color: white;
    font-size: 1.2rem;
    border: 0;
    padding: 0.45rem 0.2rem 0.45rem 0.2rem;
}

.purchase-books input {
    background-color: #292929;
}

.purchase-books button {
    margin-top: 1rem;
    background-color: #d89216;
}
