header {
    border-radius: 0.25rem;
    background-color: #000;
    padding: 0.2rem;
    width: 95%;
    margin: 0.25rem auto 0 auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

nav {
    width: 100%;
}

header form {
    display: none;
}

#nav-items li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.35rem;
}

#nav-items li a:hover {
    color: #a8a8a8;
}

#nav-items {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    list-style: none;
}

#nav-items li {
    padding: 0.2rem;
    margin-bottom: 0.4rem;
}

#nav-items li:last-child {
    margin-bottom: 0;
}

.logo {
    margin: 0.2rem;
    padding: 0.5rem;
    border-radius: 1vw;
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 3vw;
}

.logo span:nth-child(2) {
    background: #FF9900;
    color: #000000;
    border-radius: 1vw;
    padding: 0 1vw 1vw 1vw;
    display: inline-block;
}

#floating-picker-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 0.2rem;
}

#floating-picker-container label {
    font-size: 0.9rem;
    color: #4f4f4f;
    margin-bottom: 0.25rem;
}

#floating-picker-container select {
    background-color: #000;
    appearance: none;
    font-size: 1.3rem;
    font-weight: 500;
    color: #FF9900;
    padding: 0.2rem;
    border: 0;
    border-radius: 0.25rem;
}

#floating-picker-container select option {
    font-weight: normal;
    font-size: 0.9rem;
}

@media only screen and (min-width: 1200px) {
    #nav-items {
        flex-flow: row wrap;
        align-items: initial;
        justify-content: space-evenly;
    }

    header {
        flex-flow: row wrap;
    }

    nav {
        flex: 1;
    }

    #floating-picker-container {
        flex-flow: column wrap;
    }

    .logo {
        font-size: 2vw;
    }
}

