#search-form {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 3rem;
}

.form-div {
    flex: 30%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.search-button-cnt {
    padding-top: 0.9rem;
    flex: 1 0 100%;
}

.search-button-cnt button {
    width: 100%;
    text-transform: uppercase;
    font-size: 1.3rem;
}

#search-form fieldset {
    flex: 30%;
    height: 150px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    padding: 0.2rem;
    overflow: auto;
}

.checkbox-item {
    padding: 0.4rem;
    display: flex;
    flex-flow: row wrap;
}

.checkbox-item label {
    order: 2;
}

#search-form input,
#search-form button {
    background-color: #292929;
    color: white;
    border: 0;
    border-radius: 0.1rem;
    padding: 0.45rem 0.2rem 0.45rem 0.2rem;
}

#search-form input[type=number] {
    padding-right: 0;
}

table {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
}

thead tr {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

tbody {
    margin-top: 2rem;
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    align-self: center;
    width: 70%;
}

tbody tr {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 0.9rem;
    padding: 0.4rem;
    flex: 1;
    background-color: #292929;
    border-radius: 0.35rem;
}

tbody tr:last-child {
    margin-bottom: 0;
}

tbody tr td {
    order: 2;
    margin: 0.2rem;
    font-size: 1.5rem;
    width: 100%;
}

table th {
    cursor: pointer;
}

.td-img {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    order: 1;
}

.td-img img {
    border-radius: 0.6rem;
    transition: transform 0.3s;
}

.td-img img:hover {
    transform: rotateZ(3deg);
}

tr td a {
    color: #fff;
    text-decoration: none;
}

#name-td {
    transition: transform 0.3s;
}

#name-td:hover {
    transform: scaleY(1.5);
}

.btn-done {
    background-color: #FF9900;
    font-size: 1.2rem;
    border: 0;
    border-radius: 0.2rem;
    padding: 0.15rem;
    cursor: pointer;
}

.heading-centered {
    width: 100%;
    text-align: center;
    margin-bottom: 1.2rem;
}

@media only screen and (min-width: 1200px) {
    tbody {
        flex-flow: row wrap;
        align-items: stretch;
        justify-content: space-around;
    }

    tbody tr {
        flex: 33%;
        margin-bottom: 0;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}

@media only screen and (min-width: 900px) {
    tbody tr {
        margin-bottom: 1.2rem;
    }
}