.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

body {
    background-color: #000000;
    height: 100vh;
}

.form-fields {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.input-group {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 0.4rem;
}

.input-group:last-child {
    margin-bottom: 0;
}

input {
    background-color: white;
    border-radius: 0.2rem;
    color: black;
    font-size: 1.15rem;
    padding-left: 0.18rem;
    padding-right: 0.18rem;
}

label {
    color: whitesmoke;
}

.submit-login {
    margin-top: 10%;
    flex: 100%;
    width: 100%;
}

button {
    width: 100%;
}

.failure {
    background: #040404;
}

@keyframes labels {
    0% {
        transform: translateX(-500%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes whoops {
    0% {
        transform: translate(500%, 400%);
    }
    50% {
        transform: translate(-300%, -200%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}

.failure input {
    background-color: red;
    color: blue;
    border-color: red;
}

.failure .input-group {
    animation: whoops;
    animation-duration: 500ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

.failure label {
    animation-name: labels;
    animation-duration: 500ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-delay: 250ms;
    animation-timing-function: cubic-bezier(0.2, 10, 0.75, -4);
}
