body {
    background-color: #58391c;
}

main {
    background-color: #6a492b;
}

header {
    background-color: #6a492b;
}

#nav-items li a {
    color: #f88f01;
}

#nav-items li a:hover {
    color: #e27802;
}

.logo {
    color: #f88f01;
}

.logo span:nth-child(2) {
    background-color: #e27802;
    color: #58391c;
}

#floating-picker-container select {
    background: #58391c;
    color: #e27802;
}

#floating-picker-container label {
    color: #f88f01;
}

.profile {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.info-set {
    display: flex;
    flex-flow: row wrap;
    flex: 80%;
    font-size: 2rem;
}

.info-label {
    color: #e27802;
}

.info-label:after {
    content: ":\00a0";
}


.info-content {
    color: #f88f01;
}

.not-found h1 {
    color: #e27802;
    text-align: center;
}

button {
    background-color: #e27802;
    color: #58391c;
    padding: 0.5vh 0.5vh;
    font-size: 1.5vw;
    font-weight: 1000;
    border-radius: 0.6rem;
    border: 0;
}

.info-set select {
    background-color: #e27802;
    color: #6a492b;
    border: 0;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    margin: 0.2rem 0.2rem;
}

.info-set th, td {
    border: 1px solid #e27802;
    padding: 0.2rem;
    color: #d89216;
}

.info-set td a {
    color: #d89216;
    cursor: pointer;
}

.info-set td a:hover {
    color: #999999;
}