* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

body {
    background-color: #2c0452;
}

.container {
    padding: 2rem;
    background-color: #272f49;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.3rem;
    width: 80%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

form {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.form-field {
    padding: 0.5rem;
    border-radius: 0.3rem;
    margin-bottom: 0.8rem;
    display: flex;
    flex-flow: column-reverse wrap;
    align-items: center;
}

.form-field:last-child {
    margin-bottom: 0;
}

.form-field, input[type=text], input[type=password], input[type=date] {
    background-color: #2c3552;
    color: #b252a1;
    width: 100%;
}

input[type=text], input[type=password], input[type=date] {
    border: 1px solid #66a1d2;
    border-radius: 0.3rem;
    padding: 0.5rem;
    font-size: 1.2rem;
}

input:invalid, input:-moz-ui-invalid, input:-moz-submit-invalid {
    background-color: #181d2d;
    box-shadow: none;
}

input:invalid + label, input:-moz-ui-invalid + label, input:-moz-submit-invalid + label {
    color: #ba80ad;
}

.form-submit {
    border-radius: 0.3rem;
    margin-top: 0.2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    width: 100%;
}

.form-submit button {
    border: 1px solid #b252a1;
    border-radius: 0.3rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    background-color: #2c3552;
    color: #b252a1;
    cursor: pointer;
}

@media only screen and (min-width: 500px) {
    #formDiv {
        width: 70%;
    }
}

@media only screen and (min-width: 900px) {
    #formDiv {
        width: 65%;
    }
}

@media only screen and (min-width: 1200px) {
    #formDiv {
        width: 55%;
    }
}

@media only screen and (min-width: 1500px) {
    #formDiv {
        width: 35%;
    }
}

#errors-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#errors-container h1 {
    color: #b252a1;
    font-size: 1.6vw;
}

.modal-content {
    background-color: #2c3552;
    border: 1px solid #66a1d2;

}

#close {
    color: #ba80ad;
}

#close:hover,
#close:focus {
    color: #b252a1;
}