table {
    display: flex;
    flex-flow: column nowrap;
}

thead {
    display: flex;
}

thead tr {
    display: flex;
    flex: 1 100%;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    font-size: 1.8rem;
}

thead tr th {
    flex: 1;
    cursor: pointer;
}

tbody {
    display: flex;
    flex-flow: column nowrap;
}

tbody tr {
    display: flex;
    flex: 1 100%;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    font-size: 1.5rem;
}

tbody tr td {
    flex: 1;
    text-align: center;
}

tbody tr td a {
    text-decoration: none;
    color: #eeeeee;
}

tbody tr td a:hover {
    color: #ffd369;
}
