<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
>
<head th:replace="fragments/boilerplate :: head(~{::title}, ~{::script}, ~{::link})">
    <meta charset="UTF-8">
    <title th:text="#{app.title(#{app.title.report})}"></title>
    <link rel="stylesheet" th:href="@{/css/admin-panel.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/admin-panel-sales.css}" type="text/css">
    <script defer th:src="@{/js/sort-table.min.js}"></script>

</head>
<body th:replace="fragments/boilerplate :: body(~{::main})">
<main>
    <form method="GET" th:action="@{/admin-panel/book-report}">
        <label for="startDate" th:text="#{date.startdate}"></label>
        <input id="startDate" name="startDate" th:value="${startDate}" type="date">
        <label for="endDate" th:text="#{date.enddate}"></label>
        <input id="endDate" name="endDate" th:value="${endDate}" type="date">
        <button th:text="#{app.homepage.search.submit}"></button>
    </form>
    <table class="js-sort-table" th:unless="${reports.isEmpty()}">
        <thead>
        <tr class="border-row">
            <th class="js-sort-none" th:text="#{app.homepage.table.thead.name}"></th>
            <th class="js-sort-none" th:text="#{app.bookedit.edit.authors}"></th>
            <th class="cur-p js-sort-number" th:text="#{bookreport.amount}"></th>
            <th class="cur-p js-sort-string" th:text="#{bookreport.total}"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="border-row" th:each="report : ${reports}" th:object="${report}">
            <td>
                <a th:href="@{/book/{isbn}(isbn=*{bookIsbn})}" th:text="*{bookName}"></a>
            </td>
            <td th:text="*{authorsAsString}"></td>
            <td th:text="*{amountSold}"></td>
            <td class="td-currency-rsd" th:text="*{#numbers.formatDecimal(totalPrice,0,'COMMA',1,'POINT')}"></td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="border-row">
            <td></td>
            <td class="total-row" th:text="|#{bookreport.total.row}:|"></td>
            <td th:text="${allAmountSold}"></td>
            <td class="td-currency-rsd" th:text="${#numbers.formatDecimal(allTotalPrice,0,'COMMA',1,'POINT')}"></td>
        </tr>
        </tfoot>
    </table>
    <h1 style="'
    margin: 0 auto 0 auto;
    text-align: center;
    color: #eeeeee;
    '" th:if="${reports.isEmpty()}" th:text="#{noreports.found}"></h1>
</main>
</body>
</html>
