<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
>
<head th:replace="fragments/boilerplate :: head(~{::title}, ~{}, ~{::link})">
    <meta charset="UTF-8">
    <title th:text="#{app.title(#{app.title.adminpanel})}"></title>
    <link rel="stylesheet" th:href="@{/css/admin-panel.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/admin-panel-sales.css}" type="text/css">

</head>
<body th:replace="fragments/boilerplate :: body(~{::main})">
<main>
    <th:block th:if="${errors}">
        <div class="errors" th:unless="${errors.isEmpty()}">
            <th:block th:each="err : ${errors}">
                <h1 th:text="${err.defaultMessage}"></h1>
            </th:block>
        </div>
    </th:block>
    <table>
        <thead>
        <tr>
            <th>ISBN</th>
            <th th:text="#{booksale.date}"></th>
            <th th:text="|#{booksale.percent} (%)|"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sale : ${sales}" th:object="${sale}">
            <td th:text="*{bookIsbn}"></td>
            <td th:text="*{saleDate}"></td>
            <td th:text="*{percentDown}"></td>
        </tr>
        </tbody>
    </table>
    <form method="POST" th:action="@{/admin-panel/book-sales}">
        <div class="form-input">
            <label for="iPercentDown" th:text="#{booksale.percent}"></label>
            <input id="iPercentDown" max="99" min="1" name="percentDown" required step="1" type="number" value="30">
        </div>
        <div class="form-input">
            <label for="iSaleDate" th:text="#{booksale.date}"></label>
            <input id="iSaleDate" name="saleDate" required type="date">
        </div>
        <div class="form-input">
            <label for="sBookIsbn" th:text="#{booksale.select.book}"></label>
            <select id="sBookIsbn" name="bookIsbn">
                <th:block th:each="book : ${books}" th:object="${book}">
                    <option th:text="|*{name} - *{isbn}|" th:value="*{isbn}"></option>
                </th:block>
            </select>
        </div>
        <button th:text="#{booksale.submitbutton}" type="submit"></button>
        <script>
            function dropErrors() {
                document.querySelector('.errors').remove()
            }

            document.querySelectorAll('input').forEach(e => e.addEventListener('click', dropErrors))
            document.querySelector('#sBookIsbn').addEventListener('click', dropErrors)

            document.querySelector('#iSaleDate').valueAsDate = new Date()
        </script>
    </form>
</main>
</body>
</html>
