<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
>
<head th:replace="fragments/boilerplate :: head(~{::title}, ~{}, ~{::link})">
    <meta charset="UTF-8">
    <title th:text="#{app.title(#{app.title.adminpanel})}"></title>
    <link rel="stylesheet" th:href="@{/css/admin-panel.css}" type="text/css">

</head>
<body th:replace="fragments/boilerplate :: body(~{::main})">
<main>
    <div class="container">
        <div class="navigation">
            <h2 th:text="#{app.adminpanel.navtext}"></h2>
            <ul class="main-ul">
                <h3 th:text="#{app.adminpanel.booktext}"></h3>
                <ul>
                    <li>
                        <button class="btn">
                            <a th:href="@{/book/add/}" th:text="#{app.adminpanel.li.addbook}"></a>
                        </button>
                    </li>
                    <li>
                        <button class="btn">
                            <a th:href="@{/admin-panel/book-report}" th:text="#{app.adminpanel.li.bookreport}"></a>
                        </button>
                    </li>
                    <li>
                        <button class="btn">
                            <a th:href="@{/admin-panel/book-comments}" th:text="#{app.adminpanel.li.bookcomments}"></a>
                        </button>
                    </li>
                </ul>

                <h3 th:text="#{app.adminpanel.userstext}"></h3>
                <ul>
                    <li>
                        <button class="btn">
                            <a th:href="@{/users}" th:text="#{app.adminpanel.li.users}"></a>
                        </button>
                    </li>
                    <li>
                        <button class="btn">
                            <a th:href="@{/loyalty-card-requests}" th:text="#{app.adminpanel.li.lcr}"></a>
                        </button>
                    </li>
                </ul>

                <h3 th:text="#{app.adminpanel.salestext}"></h3>
                <ul>
                    <li>
                        <button class="btn">
                            <a th:href="@{/admin-panel/book-sales}" th:text="#{app.adminpanel.li.booksales}"></a>
                        </button>
                    </li>
                    <li>
                        <button class="btn">
                            <a th:href="@{/admin-panel/sales}" th:text="#{app.adminpanel.li.sales}"></a>
                        </button>
                    </li>
                </ul>
            </ul>
        </div>
    </div>
    <script>
        document.querySelector('.btn')
            .forEach(btn => btn.addEventListener('click',
                e => e.target.children[0].click()
                )
            )
    </script>
</main>
</body>
</html>
