<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
>
<head th:replace="fragments/boilerplate :: head(~{::title}, ~{}, ~{::link})">
    <meta charset="UTF-8">
    <title th:text="#{app.title(#{app.title.adminpanel})}"></title>
    <link rel="stylesheet" th:href="@{/css/admin-panel.css}" type="text/css">

</head>
<body th:replace="fragments/boilerplate :: body(~{::main})">
<main>
    <div class="container column-flex">
        <th:block th:if="${param.err}">
            <h1 class="error-book-not-found" th:text="#{app.bookpage.book.not-found}"></h1>
        </th:block>
        <form method="get" th:action="@{/admin-panel/book-search}">
            <label for="isbn">ISBN:</label>
            <input id="isbn" name="isbn" type="text">
            <button th:text="#{app.homepage.search.submit}"></button>
        </form>
    </div>
</main>
</body>
</html>
