<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
>
<head th:replace="fragments/boilerplate :: head(~{::title}, ~{::scripts}, ~{::link})">
    <meta charset="UTF-8">
    <title th:text="#{app.title(#{app.title.admin.comments})}"></title>
    <link rel="stylesheet" th:href="@{/css/admin-panel.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/admin-panel-sales.css}" type="text/css">
    <th:block th:fragment="scripts">
        <script th:src="@{/js/preact.bundle.js}" type="module"></script>
        <script defer th:src="@{/js/admin-comments.js}" type="module"></script>
    </th:block>

</head>
<body th:replace="fragments/boilerplate :: body(~{::main})">
<main>

    <div id="lang-container" style="display: none;">
        <span id="lang-th-author" th:text="#{admin.comments.author}"></span>
        <span id="lang-th-rating" th:text="#{admin.comments.rating}"></span>
        <span id="lang-th-date" th:text="#{admin.comments.date}"></span>
        <span id="lang-th-bookname" th:text="#{admin.comments.bookname}"></span>
        <span id="lang-th-text" th:text="#{admin.comments.text}"></span>
        <span id="lang-th-label" th:text="#{admin.comments.label}"></span>
        <span id="lang-th-none" th:text="#{admin.comments.none}"></span>
    </div>
</main>
</body>
</html>
