<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
>
<head th:replace="fragments/boilerplate :: head(~{::title}, ~{::script}, ~{::link})">
    <meta charset="UTF-8">
    <title th:text="#{app.title(#{app.title.bookadd})}"></title>
    <link rel="stylesheet" th:href="@{/css/modal.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/book-edit.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/book-add.css}" type="text/css">
    <script defer th:src="@{/js/order-book.js}" type="text/javascript"></script>

</head>
<body th:replace="fragments/boilerplate :: body(~{::main})">
<main>
    <h1 class="update-failure update" th:if="${hasErrors}" th:text="#{app.bookedit.add.failed}">
    </h1>
    <div th:object="${book}">
        <h1 th:text="#{app.title.bookadd}"></h1>
        <form enctype="multipart/form-data" method="POST" th:action="@{/book/add}">
            <div class="form-group">
                <label for="isbn">ISBN (@13)</label>
                <input id="isbn" required th:field="*{isbn}" type="text">
            </div>
            <div class="form-group">
                <label for="name" th:text="#{app.homepage.table.thead.name}"></label>
                <input id="name" required th:field="*{name}" type="text">
            </div>
            <div class="form-group">
                <label for="publishingHouse" th:text="#{app.homepage.table.thead.publishingHouse}"></label>
                <input id="publishingHouse" required th:field="*{publishingHouse}" type="text">
            </div>
            <div class="form-group">
                <label for="authors" th:text="#{app.bookedit.edit.authors}"></label>
                <input id="authors" name="authors" required th:value="*{authors}" type="text">
            </div>
            <div class="form-group">
                <label for="yearOfRelease" th:text="#{app.homepage.table.thead.yearOfRelease}"></label>
                <input id="yearOfRelease" min="0" required th:field="*{yearOfRelease}"
                       th:max="${#dates.format(#dates.createNow(), 'yyyy')}" type="number">
            </div>
            <div class="form-group">
                <label for="description" th:text="#{app.bookpage.book.description}"></label>
                <textarea id="description" required rows="7" th:field="*{description}"></textarea>
            </div>
            <div class="form-group">
                <label for="price" th:text="#{app.homepage.table.thead.price}"></label>
                <input id="price" required step="0.1" th:field="*{price}" type="number">
            </div>
            <div class="form-group">
                <label for="numOfPages" th:text="#{app.homepage.table.thead.numOfPages}"></label>
                <input id="numOfPages" step="1" th:field="*{numOfPages}" type="number">
            </div>
            <div class="form-group">
                <label for="typeOfWrap" th:text="#{app.homepage.table.thead.typeOfWrap}"></label>
                <select id="typeOfWrap" th:field="*{typeOfWrap}">
                    <option th:selected="*{typeOfWrap != null and typeOfWrap.toString() eq 'SOFT'} ? 'true' : 'false'"
                            th:text="#{app.entities.book.typeOfWrap.soft}"
                            value="SOFT"></option>
                    <option th:selected="*{typeOfWrap != null and typeOfWrap.toString() eq 'HARD'} ? 'true' : 'false'"
                            th:text="#{app.entities.book.typeOfWrap.hard}"
                            value="HARD"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="typeOfLetter" th:text="#{app.homepage.table.thead.typeOfLetter}"></label>
                <select id="typeOfLetter" th:field="*{typeOfLetter}">
                    <option th:selected="*{typeOfLetter != null and typeOfLetter.toString() eq 'LATIN'} ? 'true' : 'false'"
                            th:text="#{app.entities.book.typeOfLetter.latin}"
                            value="LATIN"></option>
                    <option th:selected="*{typeOfLetter != null and typeOfLetter.toString() eq 'CYRILLIC'} ? 'true' : 'false'"
                            th:text="#{app.entities.book.typeOfLetter.cyrillic}"
                            value="CYRILLIC"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="language" th:text="#{app.homepage.table.thead.language}"></label>
                <input id="language" required th:field="*{language}" type="text">
            </div>
            <div class="form-group">
                <fieldset>
                    <legend th:text="#{app.homepage.table.thead.genres}"></legend>
                    <div class="checkbox-item" th:each="genre : ${genres}">
                        <label th:for="|genre-${genre.id}|" th:text="${genre.name}">
                        </label>
                        <input th:checked="${book.genres != null and #lists.contains(book.genres, genre.id)}"
                               th:id="|genre-${genre.id}|" th:name="genres"
                               th:value="${genre.id}"
                               type="checkbox">
                    </div>
                </fieldset>
            </div>
            <div class="form-group">
                <label for="file" th:text="#{app.bookpage.edit.image}"></label>
                <input accept="image/png, image/jpeg" id="file" name="imageFile" type="file">
            </div>
            <div class="form-group form-buttons">
                <button th:text="#{app.bookpage.add.submit}" type="submit"></button>
            </div>
        </form>
    </div>
</main>
</body>
</html>
