<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
      xmlns:th="https://www.thymeleaf.org"
>
<head th:replace="fragments/boilerplate :: head(~{::title}, ~{::script-head}, ~{::link})">
    <meta charset="UTF-8">
    <title th:text="#{app.title(#{app.title.bookpage(${book.name})})}"></title>
    <link rel="stylesheet" th:href="@{/css/book.css}" type="text/css">
    <th:block th:fragment="script-head">
        <script defer th:src="@{/js/book-api.js}" type="text/javascript"></script>
        <script th:src="@{/js/preact.bundle.js}" type="module"></script>
        <script th:src="@{/js/sweetalert.min.js}" type="text/javascript"></script>
        <script defer th:src="@{/js/book-comments.js}" type="module"></script>
    </th:block>

</head>
<body th:replace="fragments/boilerplate :: body(~{::main})">
<main>
    <div class="book-info" th:if="${book}" th:object="${book}">
        <div class="buttons-div">
            <th:block sec:authorize="hasAuthority('USER')">
                <button id="btn-cart" th:data-isbn="*{isbn}" th:text="#{app.bookpage.book.to-cart}"></button>
                <button id="btn-wishlist" th:data-isbn="*{isbn}" th:text="#{app.bookpage.book.to-wishlist}"></button>
            </th:block>
            <th:block sec:authorize="hasAuthority('ADMIN')">
                <button id="edit-button"><a th:href="@{/book/edit/{isbn}(isbn=*{isbn})}"
                                            th:text="#{app.admin.bookpage.book.edit}"></a></button>
                <script>
                    document.querySelector('#edit-button').addEventListener('click', (event) => {
                        event.target.querySelector('a').click()
                    })
                </script>
            </th:block>
        </div>
        <img alt="book image" class="book-image" th:src="@{/images/{isbn}.jpg(isbn=*{isbn})}">
        <script>
            document.querySelector('.book-image').addEventListener('click', (event) => {
                if (event.target.style.animationPlayState === 'paused')
                    event.target.style.animationPlayState = 'running'
                else
                    event.target.style.animationPlayState = 'paused'
            })
        </script>

        <h2>
            <span th:text="#{app.homepage.table.thead.name}"></span>:
            <span th:text="*{name}"></span>
        </h2>
        <h2>
            <span th:text="#{app.homepage.table.thead.genres}"></span>:
            <span th:text="*{allGenres}"></span>
        </h2>
        <h2>
            <span th:text="#{app.homepage.table.thead.price}"></span>:
            <span th:text="*{price}"></span>
        </h2>
        <h2>
            <span th:text="#{app.homepage.table.thead.authors}"></span>:
            <span th:text="*{allAuthors}"></span>
        </h2>
        <h2>
            <span th:text="#{app.homepage.table.thead.language}"></span>:
            <span th:text="*{language}"></span>
        </h2>
        <h2>
            <span th:text="#{app.homepage.table.thead.averageRating}"></span>:
            <span th:text="*{averageScore}"></span>
        </h2>
        <h2>
            <span th:text="#{app.homepage.table.thead.publishingHouse}"></span>:
            <span th:text="*{publishingHouse}"></span>
        </h2>
        <h2>
            <span th:text="#{app.homepage.table.thead.yearOfRelease}"></span>:
            <span th:text="*{yearOfRelease}"></span>
        </h2>
        <h2>
            <span th:text="#{app.homepage.table.thead.numOfPages}"></span>:
            <span th:text="*{numOfPages}"></span>
        </h2>
        <h2>
            <span th:text="#{app.homepage.table.thead.typeOfWrap}"></span>:
            <span th:text="(*{typeOfWrap.toString() eq 'HARD'} ? #{app.entities.book.typeOfWrap.hard} :
                     #{app.entities.book.typeOfWrap.soft})"></span>
        </h2>
        <h2>
            <span th:text="#{app.homepage.table.thead.typeOfLetter}"></span>:
            <span th:text="(*{typeOfLetter.toString() eq 'LATIN'} ? #{app.entities.book.typeOfLetter.latin} :
                     #{app.entities.book.typeOfLetter.cyrillic})"></span>
        </h2>
        <h2 sec:authorize="hasAuthority('ADMIN')">
            <span th:text="#{app.bookpage.book.available}"></span>:
            <span th:text="*{availableAmount}"></span>
        </h2>
        <h2>
            <span th:text="#{app.bookpage.book.description}"></span>:
        </h2>
        <p class="book-desc" th:text="*{description}"></p>

        <div id="comments-preact" th:data-isbn="${book.isbn}"></div>

    </div>
    <div class="" th:unless="${book}">
        <h1 th:text="#{app.bookpage.book.not-found}"></h1>
    </div>

    <div id="localization-container" style="display: none;">
        <span id="lang-comment-section-title" th:text="#{app.bookpage.comment.section.title}"></span>
        <span id="lang-comment-author" th:text="#{app.bookpage.comment.author}"></span>
        <span id="lang-comment-date" th:text="#{app.bookpage.comment.date}"></span>
        <span id="lang-comment-rating" th:text="#{app.bookpage.comment.rating}"></span>
        <span id="lang-comment-text" th:text="#{app.bookpage.comment.text('500')}"></span>
        <span id="lang-comment-submit" th:text="#{app.bookpage.comment.submit}"></span>
        <span id="lang-comment-sweetalert" th:text="#{app.bookpage.success.comment}"></span>
    </div>

</main>
</body>
</html>
