<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
>
<head th:replace="fragments/boilerplate :: head(~{::title}, ~{}, ~{::link})">
    <meta charset="UTF-8">
    <title th:text="#{app.title(#{app.title.success.add})}"></title>
    <link rel="stylesheet" th:href="@{/css/book-edit.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/book-add.css}" type="text/css">

</head>
<body th:replace="fragments/boilerplate :: body(~{::main})">
<main>
    <div>
        <h1>
            <a class="success-href" th:href="@{/admin-panel}">
                <span th:text="#{app.title.success.add}"></span>!
            </a>
        </h1>
    </div>
</main>
</body>
</html>
