<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
>
<head th:replace="fragments/boilerplate :: head(~{::title}, ~{::headscript}, ~{::link})">
    <meta charset="UTF-8">
    <title th:text="#{app.title(#{app.cart.title})}"></title>
    <link rel="stylesheet" th:href="@{/css/index.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/cart.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/modal.css}" type="text/css"/>
    <th:block th:fragment="headscript">
        <script th:src="@{/js/sort-table.min.js}" type="text/javascript"></script>
        <script th:src="@{/js/sweetalert.min.js}" type="text/javascript"></script>
        <script defer th:src="@{/js/cart-api.js}" type="text/javascript"></script>
    </th:block>

</head>
<body th:replace="fragments/boilerplate :: body(~{::main})">
<main>
    <div th:if="${items.isEmpty()}">
        <h1 class="heading-centered" th:text="#{app.cart.empty.title}"></h1>
    </div>
    <div th:unless="${items.isEmpty()}">
        <h1 class="heading-centered" th:text="#{app.cart.title}"></h1>
        <table class="js-sort-table">
            <thead>
            <tr>
                <th class="js-sort-string" th:text="#{app.homepage.table.thead.name}"></th>
                <th class="js-sort-string" th:text="#{app.homepage.table.thead.authors}"></th>
                <th class="js-sort-number" th:text="#{app.bookpage.edit.order.amount}"></th>
                <th class="js-sort-number" th:text="#{app.homepage.table.thead.price}"></th>
                <th class="js-sort-number" th:text="#{app.cart.totalprice}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${items}">
                <th:block th:object="${book}">
                    <td id="name-td"
                        th:utext="|#{app.homepage.table.thead.name}: #{app.homepage.table.thead.name.href(*{isbn},*{name},'book')}|">
                    </td>
                    <td th:text="|#{app.homepage.table.thead.authors}: *{authors}|">
                    </td>
                    <td>
                        <span th:text="|#{app.bookpage.edit.order.amount}: |"></span>
                        <input name="amount" th:data-isbn="*{isbn}" th:value="*{amount}" type="number">
                    </td>
                    <td id="price" th:text="|#{app.homepage.table.thead.price}: *{price}|">
                    </td>
                    <td id="totalPrice" th:text="|#{app.cart.totalprice}: *{totalPrice}|">
                    </td>
                    <td class="td-img">
                        <img alt="book image" style="cursor: pointer;"
                             th:attr="data-isbn=*{isbn}"
                             th:src="@{/images/{isbn}.jpg(isbn=*{isbn})}">
                    </td>
                    <td>
                        <button class="btn-done cart-removal-js" th:data-isbn="*{isbn}"
                                th:text="#{app.cart.remove}"></button>
                    </td>
                </th:block>
            </tr>
            </tbody>
            <script>
                document.querySelectorAll('.td-img img')
                    .forEach(e => e.addEventListener('click', e => {
                        let isbn = e.target.dataset.isbn
                        window.location.href = `/book/${isbn}`
                    }))
            </script>
        </table>
    </div>
    <div class="purchase-books" th:unless="${items.isEmpty()}">
        <th:block th:if="${hasCard}">
            <input id="input-points" min="0" step="1"
                   th:max="${cardPoints >= 10} ? 10 : ${cardPoints}"
                   th:value="${cardPoints >= 10} ? 10 : ${cardPoints}"
                   type="number">
        </th:block>
        <button id="execute-button" th:text="#{execute.purchase}"></button>
    </div>

    <div id="mths" style="display: none;">
        <span id="mth-book-not-available" th:text="#{mth.book-not-available}"></span>
        <span id="mth-cart-empty" th:text="#{mth.cart-empty}"></span>
        <span id="mth-success" th:text="#{mth.success}"></span>
        <span id="mth-bad-req" th:text="#{mth.bad-req}"></span>
    </div>

</main>
</body>
</html>
