<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
>
<head th:replace="fragments/boilerplate :: head(~{::title}, ~{::headscript}, ~{::link})">
    <meta charset="UTF-8">
    <title th:text="#{app.title(#{app.title.homepage})}"></title>
    <link rel="stylesheet" th:href="@{/css/index.css}" type="text/css">
    <th:block th:fragment="headscript">
        <script th:src="@{/js/sort-table.min.js}" type="text/javascript"></script>
    </th:block>

</head>
<body th:replace="fragments/boilerplate :: body(~{::main})">
<main>
    <div>
        <form id="search-form" method="get" th:action="@{/}" th:object="${search}">
            <div class="form-div">
                <label for="nameF" th:text="#{app.homepage.search.name}">
                </label>
                <input id="nameF" th:field="*{name}" type="text">
            </div>
            <div class="form-div">
                <label for="priceminF" th:text="#{app.homepage.search.priceMin}">
                </label>
                <input id="priceminF" step="0.1" th:field="*{priceMin}" type="number">
            </div>
            <div class="form-div">
                <label for="languageF" th:text="#{app.homepage.search.language}">
                </label>
                <input id="languageF" th:field="*{language}" type="text">
            </div>
            <div class="form-div">
                <label for="authorF" th:text="#{app.homepage.search.author}">
                </label>
                <input id="authorF" th:field="*{author}" type="text">
            </div>
            <div class="form-div">
                <label for="pricemaxF" th:text="#{app.homepage.search.priceMax}">
                </label>
                <input id="pricemaxF" step="0.1" th:field="*{priceMax}" type="number">
            </div>
            <fieldset>
                <legend th:text="#{app.homepage.search.genres}"></legend>
                <div class="checkbox-item" th:each="genre : ${genres}">
                    <label th:for="|genre-${genre.id}|" th:text="${genre.name}">
                    </label>
                    <input th:checked="${search.genres != null and #lists.contains(search.genres, genre.id)}"
                           th:id="|genre-${genre.id}|" th:name="genres"
                           th:value="${genre.id}"
                           type="checkbox">
                </div>
            </fieldset>
            <div class="search-button-cnt">
                <button th:text="#{app.homepage.search.submit}" type="submit"></button>
            </div>
        </form>
    </div>
    <table class="js-sort-table">
        <thead>
        <tr>
            <th class="js-sort-string" th:text="#{app.homepage.table.thead.name}"></th>
            <th class="js-sort-number" th:text="#{app.homepage.table.thead.price}"></th>
            <th class="js-sort-number" th:text="#{app.homepage.table.thead.averageRating}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <th:block th:object="${book}">
                <td id="name-td"
                    th:utext="|#{app.homepage.table.thead.name}: #{app.homepage.table.thead.name.href(*{isbn},*{name},'book')}|">
                </td>
                <td th:if="*{percentIntSale gt 0}"
                    th:utext="|#{app.homepage.table.thead.price}: | + '<strong>' +(*{price}) + '</strong>'"></td>
                <td th:unless="*{percentIntSale gt 0}"
                    th:utext="|#{app.homepage.table.thead.price}: *{price}|"></td>
                <td th:text="|#{app.homepage.table.thead.averageRating}: *{averageScore}|"></td>
                <td class="td-img">
                    <img alt="book image" style="cursor: pointer;"
                         th:attr="data-isbn=*{isbn}"
                         th:src="@{/images/{isbn}.jpg(isbn=*{isbn})}">
                </td>
            </th:block>
        </tr>
        </tbody>
        <script>
            document.querySelectorAll('.td-img img')
                .forEach(e => e.addEventListener('click', e => {
                    let isbn = e.target.dataset.isbn
                    window.location.href = `/book/${isbn}`
                }))
        </script>
    </table>
</main>
</body>
</html>
