<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body th:classappend="${param.failure != null} ? 'failure' : ''">
<div th:replace="fragments/floating-lang :: container"></div>
<div class="container">
    <form method="POST" th:action="@{/login}">
        <div class="form-fields">
            <div class="input-group">
                <label for="username" th:text="#{app.login.username}"></label>
                <input id="username" name="username" required type="text">
            </div>
            <div class="input-group">
                <label for="password" th:text="#{app.login.password}"></label>
                <input id="password" name="password" required type="password">
            </div>
            <div class="submit-login">
                <button th:text="#{app.login.submit}"></button>
            </div>
        </div>
    </form>
    <script>
        document.querySelectorAll('.form-fields').forEach(e => e.addEventListener('click', () =>
            document.body.classList.remove('failure')
        ))
        document.body.onclick = (e) => {
            if (e.target.tagName.toLowerCase() === 'body')
                window.location.href = `/`
        }
    </script>

</div>

</body>
</html>