<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
>
<head th:replace="fragments/boilerplate :: head(~{::title}, ~{::script}, ~{::link})">
    <meta charset="UTF-8">
    <title th:text="#{app.title(#{app.title.lcr})}"></title>
    <link rel="stylesheet" th:href="@{/css/admin-panel.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/users.css}">
    <script th:src="@{/js/sort-table.min.js}" type="text/javascript"></script>

</head>
<body th:replace="fragments/boilerplate :: body(~{::main})">
<main>
    <table class="js-sort-table">
        <thead>
        <tr>
            <th th:text="#{app.profile.username}"></th>
            <th th:text="#{app.profile.firstName}"></th>
            <th th:text="#{app.profile.lastName}"></th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="rq : ${userRequests}">
            <th:block th:object="${rq}">
                <th:block th:object="${rq.user}">
                    <td th:text="*{username}"></td>
                    <td th:text="*{firstName}"></td>
                    <td th:text="*{lastName}"></td>
                </th:block>
                <th:block th:switch="*{status.toString()}">
                    <td th:case="'PENDING'" th:text="#{app.lcr.status.pending}"></td>
                    <td th:case="'ACCEPTED'" th:text="#{app.lcr.status.accepted}"></td>
                    <td th:case="'REJECTED'" th:text="#{app.lcr.status.rejected}"></td>
                </th:block>
                <td class="td-flex-row">
                    <th:block th:if="*{status.toString() eq 'PENDING'}">
                        <th:block th:object="${rq.user}">
                            <form method="POST" th:action="@{/loyalty-card-requests}">
                                <input name="action" type="hidden" value="ACCEPT">
                                <input name="username" th:value="*{username}" type="hidden">
                                <button class="green" type="submit">
                                    &#10003;
                                </button>
                            </form>
                            <form method="POST" th:action="@{/loyalty-card-requests}">
                                <input name="action" type="hidden" value="DENY">
                                <input name="username" th:value="*{username}" type="hidden">
                                <button class="red" type="submit">
                                    &#10799;
                                </button>
                            </form>
                        </th:block>
                    </th:block>
                </td>
            </th:block>
        </tr>
        </tbody>
        <script>
        </script>
    </table>
</main>
</body>
</html>
