<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
      xmlns:th="https://www.thymeleaf.org"
>
<head th:replace="fragments/boilerplate :: head(~{::titlefragment}, ~{::script}, ~{::link})">
    <meta charset="UTF-8">

    <th:block th:fragment="titlefragment">
        <th:block th:if="${#authentication.name eq user.username}">
            <title th:text="#{app.title(#{app.profile.label})}"></title>
        </th:block>
        <th:block th:unless="${#authentication.name eq user.username}">
            <title th:text="#{app.title(#{profile.label} + ' ' + ${user.firstName} + ' ' + ${user.lastName})}">
            </title>
        </th:block>
    </th:block>
    <link rel="stylesheet" th:href="@{/css/profile.css}" type="text/css">
    <script defer sec:authorize="hasAuthority('ADMIN')" th:src="@{/js/profile-admin-api.js}"></script>
    <script defer sec:authorize="hasAuthority('USER')" th:src="@{/js/profile-wishlist-api.js}"></script>

</head>
<body th:replace="fragments/boilerplate :: body(~{::main})">
<main>
    <div class="profile" th:if="${user}" th:object="${user}">
        <div class="info-set">
            <div class="info-label" th:text="#{app.profile.username}"></div>
            <div class="info-content" th:text="*{username}"></div>
        </div>
        <div class="info-set">
            <div class="info-label" th:text="#{app.profile.email}"></div>
            <div class="info-content" th:text="*{email}"></div>
        </div>
        <div class="info-set">
            <div class="info-label" th:text="#{app.profile.firstName}"></div>
            <div class="info-content" th:text="*{firstName}"></div>
        </div>
        <div class="info-set">
            <div class="info-label" th:text="#{app.profile.lastName}"></div>
            <div class="info-content" th:text="*{lastName}"></div>
        </div>
        <div class="info-set">
            <div class="info-label" th:text="#{app.profile.dateOfBirth}"></div>
            <div class="info-content" th:text="*{#temporals.format(dateOfBirth, 'dd MM yyyy')}"></div>
        </div>
        <div class="info-set">
            <div class="info-label" th:text="#{app.profile.address}"></div>
            <div class="info-content" th:text="*{address}"></div>
        </div>
        <div class="info-set">
            <div class="info-label" th:text="#{app.profile.phoneNumber}"></div>
            <div class="info-content" th:text="*{phoneNumber}"></div>
        </div>
        <div class="info-set">
            <div class="info-label" th:text="#{app.profile.dateOfRegistration}"></div>
            <div class="info-content" th:text="*{#temporals.format(dateOfRegistration, 'dd MM yyyy')}"></div>
        </div>
        <div class="info-set"
             th:if="${#authorization.expression('hasAuthority(''USER'')') or user.username eq #authentication.name}">
            <div class="info-label" th:text="#{app.profile.role}"></div>
            <div class="info-content"
                 th:text="*{role == 'admin'} ? #{app.profile.role.admin} : #{app.profile.role.user}"></div>

        </div>
        <div class="info-set" sec:authorize="hasAuthority('USER')" th:if="${canRequestLoyaltyCard}">
            <form method="POST" th:action="@{/self/lcr}">
                <button id="btn-lcr" th:text="#{app.lcr.button.label}" type="submit"></button>
            </form>
        </div>

        <th:block class="info-set" sec:authorize="hasAuthority('ADMIN')"
                  th:if="${user.username ne #authentication.name}">
            <div class="info-set" id="user-role-info">
                <label class="info-label" for="roleselect" th:text="#{app.profile.role}"></label>
                <select id="roleselect" name="roleselect" th:data-username="${user.username}">
                    <option th:selected="${user.role.toLowerCase() eq 'user'}" th:text="#{app.profile.role.user}"
                            value="false"></option>
                    <option th:selected="${user.role.toLowerCase() eq 'admin'}" th:text="#{app.profile.role.admin}"
                            value="true"></option>
                </select>
            </div>
            <div class="info-set" id="user-active-info">
                <label class="info-label" for="activeselect" th:text="#{user.active.label}"></label>
                <select id="activeselect" name="activeselect" th:data-username="${user.username}">
                    <option th:selected="${not user.active}" th:text="#{user.active.false}" value="false"></option>
                    <option th:selected="${user.active}" th:text="#{user.active.true}" value="true"></option>
                </select>
            </div>
        </th:block>
        <div class="info-set" th:unless="${shopped.isEmpty() or user.role.equalsIgnoreCase('admin')}">
            <h3 class="info-label" th:text="#{user.purchases.label}"></h3>
            <table>
                <thead>
                <tr>
                    <th th:text="#{user.purchases.totalPrice}"></th>
                    <th th:text="#{user.purchases.date}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="shopping : ${shopped}" th:object="${shopping}">

                    <td th:text="*{totalPrice}"></td>
                    <td><a
                            th:href="@{/purchases/{id}(id=*{purchaseId})}"
                            th:text="*{#temporals.format(dateOfPayment, 'dd-MM-yyyy')}"></a></td>
                </tr>
                </tbody>
            </table>

        </div>

        <th:block th:if="${wishlist}">
            <div class="info-set" th:unless="${wishlist.isEmpty()}">
                <h3 class="info-label" th:text="#{user.wishlist.label}"></h3>
                <table>
                    <thead>
                    <tr>
                        <th th:text="#{app.homepage.table.thead.name}"></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="wish : ${wishlist}" th:object="${wish}">
                        <td th:text="*{bookName}">
                        </td>
                        <td>
                            <button class="btn-remove-wish" style="cursor: pointer;" th:data-isbn="*{bookIsbn}"
                                    th:text="#{user.wishlist.remove}"></button>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </th:block>
    </div>


    <div class="not-found" th:unless="${user}">
        <h1 th:text="#{app.profile.notfound}"></h1>
    </div>
</main>
</body>
</html>
