<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
>
<head th:replace="fragments/boilerplate :: head(~{::title}, ~{}, ~{::link})">
    <meta charset="UTF-8">
    <title th:text="#{app.title(#{app.purchase.label})}"></title>
    <link rel="stylesheet" th:href="@{/css/profile.css}" type="text/css">

</head>
<body th:replace="fragments/boilerplate :: body(~{::main})">
<main>
    <div class="profile" th:if="${purchase}" th:object="${purchase}">
        <div class="info-set">
            <div class="info-label" th:text="#{user.purchases.totalPrice}"></div>
            <div class="info-content" th:text="*{totalPrice}"></div>
        </div>
        <div class="info-set">
            <div class="info-label" th:text="#{user.purchases.date}"></div>
            <div class="info-content" th:text="*{#temporals.format(dateOfPayment, 'dd-MM-yyyy')}"></div>
        </div>
        <div class="info-set">
            <div class="info-label" th:text="#{app.profile.username}"></div>
            <div class="info-content" th:text="*{username}"></div>
        </div>
        <div class="info-set">
            <div class="info-label" th:text="#{user.purchases.amount}"></div>
            <div class="info-content" th:text="*{amountOfBooksBought}"></div>
        </div>

        <div class="info-set">
            <table>
                <thead>
                <tr>
                    <th th:text="#{user.purchases.books}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book : ${purchase.bookSet}">
                    <td th:text="${book}"></td>
                </tr>
                </tbody>
            </table>

        </div>

        <div class="not-found" th:unless="${purchase}">
            <h1 th:text="#{app.profile.notfound}"></h1>
        </div>
</main>
</body>
</html>
