<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{app.title(#{app.title.register})}"></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" th:href="@{/css/modal.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/register.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/fragments/langpicker/register-style.css}" type="text/css">
</head>
<body>
<div th:replace="fragments/floating-lang :: container"></div>

<!-- From https://www.w3schools.com/howto/howto_css_modals.asp -->
<div class="modal" id="errorModal" th:style="${bindingErrors}
 ? 'display: block;' : 'display: none;'">

    <!-- Modal content -->
    <div class="modal-content">
        <span id="close">&times;</span>
        <div id="errors-container">
            <h1 th:each="error : ${bindingErrors}" th:object="${error}"
                th:text="*{defaultMessage}"></h1>
        </div>
    </div>
</div>

<script>
    let errorModal = document.querySelector('#errorModal')
    let close = document.querySelector('#close')
    close.addEventListener
    ('click', () => {
        errorModal.style.display = 'none'
        console.log('clicked')
    })

    window.addEventListener('click', (event) => {
        if (event.target === errorModal)
            errorModal.style.display = 'none'
    })

</script>

<main class="container">
    <form method="post" th:action="@{/register}" th:object="${formObj}">
        <div class="form-field">
            <input id="username" required th:field="*{username}"
                   type="text">
            <label for="username">
                <span th:text="#{app.registerpage.text.username}"></span>
            </label>
        </div>
        <div class="form-field">
            <input id="password" required th:field="*{password}"
                   type="password">
            <label for="password">
                <span th:text="#{app.registerpage.text.password}"></span>
            </label>
        </div>
        <div class="form-field">
            <input id="passwordAgain" required th:field="*{passwordAgain}"
                   type="password">
            <label for="passwordAgain">
                <span th:text="#{app.registerpage.text.passwordAgain}"></span>
            </label>
        </div>
        <div class="form-field">
            <input id="email" required th:field="*{email}"
                   type="text">
            <label for="email">
                <span th:text="#{app.registerpage.text.email}"></span>
            </label>
        </div>
        <div class="form-field">
            <input id="emailAgain" required th:field="*{emailAgain}"
                   type="text">
            <label for="emailAgain">
                <span th:text="#{app.registerpage.text.emailAgain}"></span>
            </label>
        </div>
        <div class="form-field">
            <input id="firstName" required th:field="*{firstName}"
                   type="text">
            <label for="firstName">
                <span th:text="#{app.registerpage.text.firstName}"></span>
            </label>
        </div>
        <div class="form-field">
            <input id="lastName" required th:field="*{lastName}"
                   type="text">
            <label for="lastName">
                <span th:text="#{app.registerpage.text.lastName}"></span>
            </label>
        </div>
        <div class="form-field">
            <input id="dateOfBirth" required th:field="*{dateOfBirth}"
                   type="date">
            <label for="dateOfBirth">
                <span th:text="#{app.registerpage.text.dateOfBirth}"></span>
            </label>
        </div>
        <div class="form-field">
            <input id="address" required th:field="*{address}"
                   type="text">
            <label for="address">
                <span th:text="#{app.registerpage.text.address}"></span>
            </label>
        </div>
        <div class="form-field">
            <input id="phoneNumber" required th:field="*{phoneNumber}"
                   type="text">
            <label for="phoneNumber">
                <span th:text="#{app.registerpage.text.phoneNumber}"></span>
            </label>
        </div>
        <div class="form-submit">
            <button th:text="#{app.registerpage.button.submit}" type="submit">
            </button>
        </div>
    </form>
</main>
</body>
</html>
