<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
>
<head th:replace="fragments/boilerplate :: head(~{::title}, ~{::script}, ~{::link})">
    <meta charset="UTF-8">
    <title th:text="#{app.title(#{app.title.homepage})}"></title>
    <link rel="stylesheet" th:href="@{/css/admin-panel.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/users.css}">
    <script th:src="@{/js/sort-table.min.js}" type="text/javascript"></script>

</head>
<body th:replace="fragments/boilerplate :: body(~{::main})">
<main>
    <table class="js-sort-table">
        <thead>
        <tr>
            <th th:text="#{app.profile.username}"></th>
            <th th:text="#{app.profile.dateOfRegistration}"></th>
            <th th:text="#{app.profile.role}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <th:block th:object="${user}">
                <td><a th:href="@{/profile/{username}(username=*{username})}" th:text="*{username}"></a></td>
                <td th:text="*{#temporals.format(dateOfRegistration, 'dd.MM.yyyy')}"></td>
                <td th:text="*{role == 'admin'} ? #{app.profile.role.admin} : #{app.profile.role.user}"></td>
            </th:block>
        </tr>
        </tbody>
        <script>
        </script>
    </table>
</main>
</body>
</html>
